:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}
/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* main take up the whole screen */
body {
  display: flex;
  flex-direction: column;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--medium-gray);
  background-color: hsl(0, 0%, 98%);
}
main {
  flex: 1 1 auto;
}

/* page container */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 1120px;
  margin: 40px auto 0 auto;
  padding: 0 15px;
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #0000005e;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

/* navbar */
#menu-icon {
  display: none;
}
header {
  padding: 2rem 0;
  position: relative;
}
header .container {
  padding: 0 3%;
  max-width: 1500px;
  justify-content: start;
  align-items: center;
}
header .nav-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header li {
  display: inline-block;
  margin-left: 4rem;
}
.login li:last-child {
  border: 1px solid var(--medium-gray);
  border-radius: 15px;
  padding: 15px 20px;
  transition: all 0.5s ease;
}
.login li:last-child:active,
.login li:last-child:hover {
  border: 1px solid var(--almost-black);
}
header a {
  color: var(--medium-gray);
  text-decoration: none;
  transition: all 0.5s ease;
}
header a:hover,
header a:active {
  cursor: pointer;
  color: var(--almost-black);
}
.open {
  max-height: 250px;
  transition: max-height 0.1s ease;
}
.closing {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
.icon-arrow-down {
  margin-left: 5px;
  position: relative;
  top: 4px;
  height: 100%;
  transition: transform 0.5s ease;
}
.q-line {
  position: relative;
}
.toggle-text {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 4;
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  transition: max-height 0.1s ease;
}
#answer-1 {
  /* max-height: 250px; */
  top: 45px;
  left: -85px;
}
#answer-2 {
  width: 150px;
  top: 45px;
  left: -51px;
}
.toggle-text ul {
  padding: 30px;
  background-color: white;
  border-radius: 9px;
}
.toggle-text li {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: flex-start;
}

.text-area {
  display: flex;
  flex: 1;
  padding-right: 11%;
  order: 1;
}
.text-area h1 {
  margin: 0;
  font-size: 4.1em;
  font-weight: 700;
  color: var(--almost-black);
}
.text-area p {
  margin: 10% 0;
  padding-right: 10%;
  line-height: 25px;
}
.text-area button {
  padding: 20px 10px;
  border-radius: 15px;
  width: 170px;
  background-color: var(--almost-black);
  border: 1px solid var(--almost-black);
  color: var(--almost-white);
  transition: all 0.3s ease;
}
.text-area button:hover,
.text-area button:active {
  cursor: pointer;
  background-color: var(--almost-white);
  color: var(--almost-black);
}

.clients {
  margin-top: 20%;
}
/* for responsive images */
.images-client {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 60px;
  overflow: hidden;
  position: relative;
}
.images-client img {
  object-fit: cover;
  object-position: right;
  position: absolute;
  width: 70%;
  height: auto;
}

.image-area {
  flex: 1;
  display: flex;
  min-height: 700px;
  overflow: hidden;
  position: relative;
  order: 2;
}
.image-area img {
  object-fit: contain;
  object-position: right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 750px;
  }

  /* navbar */
  body .lock {
    overflow: hidden;
  }
  header .container {
    margin: 20px auto 0 auto;
    padding: 0 20px;
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .nav-menu {
    padding: 7rem 0;
    display: none;
    position: absolute;
    width: 70%;
    left: 30%;
    top: 0;
    height: 100vh;
    background-color: var(--almost-white);
    z-index: 3;
  }
  #menu-icon {
    z-index: 4;
    display: block;
  }
  .nav-menu li {
    display: block;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
  }
  .login {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .login li {
    display: block;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  .login li:last-child {
    margin-bottom: 0;
    text-align: center;
    border: 2px solid var(--medium-gray);
    width: -webkit-fill-available;
    margin: 0 2rem;
  }
  .toggle-text {
    position: unset;
    box-shadow: none;
    border-radius: none;
  }
  .toggle-text ul {
    padding: 30px 0 0 25px;
    background-color: var(--almost-white);
    border-radius: 0;
  }
  .toggle-text li {
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  .toggle-text li:last-child {
    margin-bottom: 0.5rem;
  }

  .text-area h1 {
    font-size: 2.7em;
  }
  .text-area p {
    padding-right: 0;
  }

  .image-area {
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    max-width: none;
    padding: 0;
    margin: 0;
  }

  .text-area {
    order: 2;
    padding: 40px 10px;
    align-items: center;
    text-align: center;
  }
  .text-area h1 {
    font-size: 1.9em;
  }
  .text-area p {
    margin: 7% 0;
    padding-right: 0;
    font-size: 16px;
  }

  .image-area {
    order: 1;
    min-height: 200px;
  }
  .image-area img {
    position: unset;
  }

  .images-client {
    justify-content: center;
    min-height: 0px;
  }
  .images-client img {
    position: unset;
    width: 85%;
  }
}
@media screen and (max-width: 200px) {
  .text-area button {
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-size: 13px;
  }
}
